*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100px;
}

.product-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.product-card{
    padding: 20px;
}
button{
    padding: 10px 16px;
    font-size: 18px;
    margin: 2px;
    border-radius: 10px;
}